body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.key-color {
  display: flex;
  flex-direction: row;
}

.key-swatch {
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
}

.key-sliders {
  display: flex;
  flex-direction: column;
}

.color-scheme {
  display: grid;
  margin: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(4, auto);
  row-gap: 1rem;
  border-radius: 0.5rem;
  background: red;
}

.scheme-swatch {
  display: inline-block;
  padding: 1rem;
  height: 5rem;
}

.scheme-swatch:last-child {
  grid-column: span 2;
}
