@media only screen and (max-width: 727px) {
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 728px) {
  .container {
    width: 42.5rem;
  }
}
@media only screen and (min-width: 952px) {
  .container {
    width: 56.5rem;
  }
}

@media only screen and (min-width: 1201px) {
  .container {
    width: 72rem;
  }
}

html {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.key-container {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #ccc;
}

.key-color {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.key-tones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.key-tone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 3rem;
}

.key-swatch {
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
}

.key-sliders {
  display: flex;
  flex-direction: column;
}

.key-sliders input[type='number'] {
  width: 4rem;
}

.color-scheme {
  display: grid;
  margin: 1rem 0;
  padding: 1rem;
  grid-template-columns: repeat(4, auto);
  row-gap: 1rem;
  border-radius: 0.5rem;
  background: #ccc;
}

.scheme-swatch {
  display: inline-block;
  padding: 1rem;
  height: 5rem;
}

.scheme-swatch:last-child {
  grid-column: span 2;
}
