body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.color-scheme {
  display: grid;
  margin: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(4, auto);
  row-gap: 1rem;
  border-radius: 0.5rem;
  background: red;
}

.swatch {
  display: inline-block;
  padding: 1rem;
  height: 8rem;
}

.swatch:last-child {
  grid-column: span 2;
}
